.newsletter {
  margin: 0 auto;
  text-align: center;
  background-color: $color-white;
  padding: 20px 25px;

  @include media($sm) {
    padding: 60px 20%;
  }
}

.newsletter__heading {
  font-size: 2.5rem;
  margin-bottom: 24px;

  @include media($sm) {
    font-size: 3.5rem;
  }
}

.newsletter__subhead {
  margin-bottom: 24px;
}

.newsletter__signup {
  
}

.newsletter__form {

}

.newsletter__form-email {
  width: 65%;
  padding: 17px;
  margin-bottom: 12px;
  border: none;
  border-radius: 5px;
  background-color: #d2d2d2;
  box-shadow: 5px 22px 42px -15px rgb(178 178 178);

  @include media($sm) {
    width: 40%;
  }
}

.newsletter__scroll {
  
}

.newsletter__button {
  display: inline-block;
  margin: 10px;
  background-color: $color-green-dark;
  color: $color-white;
  border: 2px solid $color-green-dark;
  text-decoration: none;
  transition: all 0.5s;
  box-shadow: 5px 22px 42px -15px rgb(178 178 178);

  &:hover {
    background-color: $color-white;
    color: $color-green-dark;
    transition: all 0.5s;
  }
}