.page-header {
  background-color: $color-green;
  padding: 25px 20px;

  @include media($sm) {
    padding: 60px 48px;
  }
}

.page-header__title {
  text-align: center;
  color: $color-white;
}

.page-header__subhead {
  
}