.site-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: $color-white;
  top: 0;
  box-shadow: rgb(0 0 0 / 25%) 0px 0.25rem 0.625rem;
  z-index: 3;

  @include media($sm) {
    display: flex;
    max-width: 1920px;
  }
}

.site-header__content {
  padding: 20px 0;
}

.site-header__nav {
  z-index: 2;
  width: 100%;

  @include media($sm) {
    margin: 0 auto;
  }
}

.site-header__logo {
  z-index: 1;
  padding: 16px 32px;
  color: #000;

  &:hover {
    cursor: pointer;
  }
}