.text-media {
  padding: 25px;
  background: $color-beige-light;
  position: relative;
  overflow: hidden;

  @include media($md) {
    padding: 60px 48px;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: -150px;
      right: 0;
      width: 60%;
      aspect-ratio: 1 / 1;
      transform: translateX(25%);
      -webkit-mask-position: center right;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-image: url('../assets/accents/bg-accent.svg');
      background: $color-green;
    }
  }
}

.text-media__container {
  max-width: 80rem;
  width: 100%;

  @include media($sm) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.text-media__media-content {
  margin: 30px 0;
  z-index: 1;

  @include media($sm) {
    width: 50%;
    margin-left: 3rem;
  }
}

.text-media__image {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.text-media__text-content {
  flex: 0 1 580px;
  z-index: 1;
}

.text-media__eyebrow {
  font-family: $ff-proxima;
  font-size: 24px;
  margin: 0;
  color: $color-brown;
}

.text-media__heading {
  font-family: $ff-satisfy;
  font-size: 2.5rem;
  color: $color-green;
  margin-top: 24px;
  margin-bottom: 20px;

  @include media($sm) {
    font-size: 3.5rem;
  }
}

.text-media__body {
  font-family: $ff-proxima;
  font-size: 20px;
  color: $color-black;
  margin-bottom: 30px;
}

.text-media__link {
  display: inline-block;
  background-color: $color-green-dark;
  color: $color-white;
  border: 2px solid $color-green-dark;
  transition: all 0.5s;

  &:hover {
    background-color: $color-white;
    color: $color-green-dark;
    transition: all 0.5s;
  }
}