// #grid-container{
//     display: grid;
//     width: 100vw;
//     height: 100vh;
//     grid-template-areas: 
//         "nav"
//         "header";

//     grid-template-columns: 1fr;
//     grid-template-rows: 45px 1fr;
// }

#nav{
    grid-area: nav;
}

#header {
    grid-area: header;
}
#main-items {
    padding-top: 30px;
    text-align: center;
}