// Colors
$color-white: #ffffff;
$color-light: #f6f6f6;
$color-black: #000000;
$color-beige-light: #F0EBCE;
$color-brown: #AA8B56;
$color-green: #4E6C50;
$color-green-dark: #395144;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-normal: $fw-regular; // alias
$fw-book: $fw-regular;   // alias
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Fonts
$ff-proxima: 'proxima-nova', sans-serif;
$ff-satisfy: 'Satisfy', cursive;

// Media query sizes
$base: 320px;
$xs: 480px;
$sm: 768px;
$smd: 1024px;
$md: 1280px;
$lg: 1440px;
$xl: 1600px;

$unit-intervals: (
  'px': 1,
  'em': .0625,
  'rem': .0625,
  '': 0
);